# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Update Github Pages

on:
  push:
    branches: [$default-branch]

  workflow_dispatch:
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

env:
  BUILD_PATH: "./web_deploy"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "npm"
      - name: Install Packages
        run: npm install
      - name: Create Deploy Folder
        run: |
          mkdir web_deploy
          mkdir web_deploy/swagger-ui
      - name: Build Swagger
        run: |
          npm run swagger bundle --        -o web_deploy/swagger.json
          npm run swagger bundle -- --yaml -o web_deploy/swagger.yaml
      - name: Copy Index
        run: cp web/index.html ./web_deploy
      - name: Copy Swagger UI
        run: cp -r node_modules/swagger-ui/dist/* ./web_deploy/swagger-ui
      - name: Replace swagger.json link
        run: sed -i 's/http:\/\/petstore.swagger.io\/v2\/swagger.json/..\/swagger.json/g' swagger-ui/index.html
        working-directory: ${{ env.BUILD_PATH }}
      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.BUILD_PATH }}

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4
